.img-container {
    margin-top: 100px;

    .img-wraper {
        margin-bottom: 40px;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

        img {
            padding-top: 15px
        }
    }

    .no-content {
        position: absolute;
        top: 20vh;
        opacity: 0.5;
        left: 12vw;
    }
}
